body {
  background-image: url("./img/background.jpg");
  font-family: "Lato";
}
p,
li {
  opacity: 0.8;
}
main {
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin: 200px auto;

  border: 13px solid rgb(122, 108, 28);
}
header {
  background-image: url("./img/headerback.jpg");
}
.firstname {
  font-weight: bold;
}

.avatar {
  background-image: url("./img/userphoto.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 50%;
  padding: 30px;
}

.firstname {
  padding: 30px;
}

.content {
  display: flex;
  margin-top: 30px;
}

.content-left {
  display: flex;
  flex-direction: column;
  border-right: 2px solid brown;
  padding: 0px 30px;
  text-align: end;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact-info {
  border-bottom: 2px solid brown;
  padding-bottom: 30px;
}

.content-right {
  padding-left: 30px;
  padding: 0px 30px;
}

.study {
  padding-top: 30px;
}

.label {
text-transform: uppercase;
}

.VUZ {
    font-size: 70%;
    margin-top: 5px;
}

.personal {
  border-bottom: 2px solid brown;
  padding-bottom: 30px;
}

.qualities {
  padding-top: 30px;
}

.item {margin-bottom: 15px;}