body {
  background-image: url("./img/background.jpg");
}
main {
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin: 200px auto;

  border: 13px solid rgb(122, 108, 28);
}
header {
  background-image: url("./img/headerback.jpg");
}
.firstname {
  font-weight: bold;
}

.avatar {
  background-image: url("./img/userphoto.jpg");
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 50%;
  padding:30px;
}

.firstname {
  padding: 20px;
}
